{% extends "base.html.twig" %}

{% block title %}Lucky{% endblock %}

{% block body %}
<div class = "colours">
    <h1 class ="crazyh1">Lucky number</h1>
    <p class ="bouncy">This is the current lucky number: {{ number }}</p>

</div>
{% endblock %}

