{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>

    <ul>
        <li><a href="#kmom01">kmom01</a></li>
        <li><a href="#kmom02">kmom02</a></li>
        <li><a href="#kmom03">kmom03</a></li>
        <li><a href="#kmom04">kmom04</a></li>
        <li><a href="#kmom05">kmom05</a></li>
        <li><a href="#kmom06">kmom06</a></li>
        <li><a href="#kmom10">kmom10</a></li>
    </ul>

    <h2 id="kmom01">kmom01</h2>
   
    <p>Jag har tidigare erfrarenhet av objektorieterad programmering från oopython kursen.</p>
    <p>Objekt i PHP kan vara mutable eller immutable, de objekt som kan förändra sin struktur är mutable och har attribut som kan läggas till eller tas bort.</p>
    <p>Funktioner som ligger i en klass kallas för metoder och properties i den för medlemsvariabler. Med variabel $this kan man referera till det objektet som anropar metoden som self i python.</p>
    <p>Koden som användes för att skapa me/report sida tyckte jag var lite omständig att hänga med eftersom det finns så mycket olika filer när man skakar en sympfony app. Jag gjorde den enklaste möjliga varianten att börja med. Det tar lite tid för mig att förstå hur alla delar hänger ihop och hur man styr dem på enklaste sättet.</p>
    <p>Namespeces tyckte jag var intressant del av PHP The Right Way artiklet eftersom jag inte har använt något liknande i de tidigare kurserna. PHPDoc delen av artikeln var också bra eftersom hur man exakt ska dokumentera varje specifik programmeringsspårk är svårt att komma ihåg, också bra att se och friska upp minnet hur man överhuvudtaget skriver PHP kod.</p>
    <p>TIL för detta kmom är att använda rätt dokumentation som källa och läsa igenom där vilka möjligheter som finns. Även att använda saker som jag lärt från tidigare kurser verkar vara användbart den här gången kanske mer än tidigare så har tittat igenom lite på mina kursrepo från webtec och design kurser.</p>



    
{% endblock %}
